.header {
  background: red;
  width: 100%;
  position: fixed;
}

.toolbar {
  display: flex;
  height: 64px;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
}

.main {
  height: 100vh;
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.nav-bar {
  width: 350px;
  background: blue;
  padding: 24px;
}

.feed {
  background: yellow;
  width: 100%;
  padding: 24px;
}
